/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
} */
.MuiToolbar-root button a:link {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

.MuiToolbar-root button a:visited {
  color: white !important;
  font-weight: bold;
}

/* button a:hover {
  color: white !important;
  font-weight: bold;
}

button a:active {
  color: white !important;
  font-weight: bold;
} */
