.MuiToolbar-root button a:link {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

.MuiToolbar-root button a:visited {
  color: white !important;
  font-weight: bold;
}

.activeLink {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.activeLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.activeMobileLink {
  background-color: rgba(0, 0, 0, 0.08);
}

.activeMobileLink:before {
  content: '\00BB';
  margin-right: 6px;
}

.mobileLink > a:link {
  font-weight: 700;
  text-decoration: none;
}

.mobileLinkFont {
  color: #000000;
  font-weight: 700;
}
